{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Souro</title>
    <link
      href="{% static '/CSS/main.css'  %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <br />
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="card card-body h-100 border-info" id="profile-wrapper">
            <img id="profile-pic" src="{% static 'images\profile.png' %}" />
            <hr />
            <h4>Hello, I'm Souro!</h4>
            <p>
              I have a passion for coding, conducting research, and engaging in
              collaborative projects.
            </p>
          </div>
        </div>

        <div class="col-md-9">
          <div class="card card-body h-100 border-info">
            <h4>My learning progress</h4>
            <hr />
            <p>
              Starting with a foundation in C programming, I honed my
              problem-solving skills on platforms like Breecrowd. Transitioning
              to C++, I expanded my understanding of object-oriented programming
              principles and gained proficiency in a wider range of
              applications. Finally, dedicating myself to Python, I delved into
              its versatile capabilities, leveraging its simplicity and
              readability for various projects and collaborations. Through this
              journey, I've cultivated a diverse skill set and a deep
              appreciation for the power of programming languages in solving
              real-world challenges.
            </p>

            <p>
              Before I realized it, we seamlessly shifted from the previous
              system to mine. Suddenly, I found myself at the helm, responsible
              for hosting hundreds of thousands of laboratory samples and
              providing support to thousands of clients.
            </p>

            <p>
              From this you’ll see that I’m someone that jumps before I can talk
              myself out of doing something scary.
            </p>

          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h5>My Experience as a Developer</h5>
            <hr />
            <p>Full stack developer.</p>
            <p>
              Designed, built and managed a lab management system as a sole
              developer. System supported thousands of customers with a UI for
               customer dashboard.
            </p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-body h-100">
            <h5>What I Know</h5>
            <hr />
            <p>
              Python, Django, HTML/CSS, JavaScript/Jquery, React,
              and APIs more I can’t possibly mention in one sentence!
            </p>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <div class="card card-body h-100">
            <h5>How I Learn</h5>
            <hr />
            <p>Reverse Engineer & Build Ugly Prototypes First.</p>

            <p>
              I can learn just about anything by having a final product to tear
              apart piece by piece. I break the code where I need to figure out
              why things work the way they do. Documentation is just a
              reference.
            </p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card card-body h-100">
            <h5>My Short Term Goals</h5>
            <hr />
            <p>
              After almost two years of supporting my system at the lab I’m
              ready to learn something new. I'll collaborating and sharing my
              experience with others on my blog (SayHelloWorld.co) & youtube
              channel.
            </p>
            <p>
              Aside from building small projects I would love to enter a
              position where I can be part of a bigger team & learn from others
              with more experience than myself.
            </p>
          </div>
        </div>
      </div>
      <br />
    </div>
  </body>
</html>
